@import 'variables', 'generic_classes';

.book-container {
  margin-top: 15px;
  padding: 32px 0 26px 27px;
  height: 170px;
  border-radius: 4px;
  border: 1px solid $gray;
  background-color: $white;
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  font-weight: 300;

  .left {
    width: 67%;
    height: 100%;

    .category,
    .title,
    .author {
      font-size: 14px;
    }

    .category {
      margin-bottom: 8px;
      font-weight: 700;
      font-family: 'Monserrat', Arial, Helvetica, sans-serif;
      opacity: 0.5;
      color: $black;
    }

    .title {
      margin-bottom: 8px;
      font-size: 22px;
      font-weight: 700;
      letter-spacing: -0.2px;
      color: $black;
    }

    .author,
    .action {
      @extend .font-theme-1;
    }

    .list {
      margin-top: auto;

      .item {
        height: 19px;
        padding-right: 15px;
        padding-left: 17px;
        border-left: 2px solid $gray;

        .action {
          cursor: pointer;
          width: max-content;

          &:hover {
            color: $azure;
          }
        }
      }

      .item:first-child {
        padding-left: 0;
        border-left: none;
      }
    }

    .read {
      width: 250px;
      height: 70px;
      border-right: 2px solid $gray;

      .circle {
        margin-right: 21px;
        width: 68px;
        height: 68px;
        border-radius: 50%;
        background:
          linear-gradient($white, $white) padding-box,
          linear-gradient(to bottom, $medium-blue, $dodger-blue) border-box;
        border: 5px solid transparent;
        border-left-color: rgb(223, 223, 223);
        transform: rotate(45deg);
      }

      .percentage,
      .status {
        font-family: 'Monserrat', Arial, Helvetica, sans-serif;
        font-weight: 400;
      }

      .percentage {
        margin-bottom: 3px;
        font-size: 32px;
      }

      .status {
        font-size: 14px;
        opacity: 0.5;
      }
    }
  }

  .right {
    width: 32%;
    padding-left: 59px;

    .title {
      margin-bottom: 10px;
      font-size: 13px;
      opacity: 0.5;
    }

    .current {
      margin-bottom: 23px;
      font-size: 16px;
      letter-spacing: -0.4px;
    }

    .update {
      cursor: pointer;
      height: 33px;
      width: 184px;
      border-radius: 3px;
      background-color: $azure;
      color: $white;
      font-size: 13px;
      letter-spacing: 0.5px;
      text-align: center;
    }
  }
}
